  @font-face { 
    font-family: 'NetflixFont';
    src: local('NetflixFont'), url(./fonts/netflix-sans-font/NetflixSans-Regular.woff2) format('woff2');
   
   }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'NetflixFont';
  }

  
  body {
    background-color: #161616;
  }
  
  .slick-list {
    padding: 100px 0;
    margin: -100px 0;
  }
  
  .slick-prev {
    left: 1% !important;
    z-index: 1;
  }
  .slick-next {
    right: 1% !important;
    z-index: 1;
  }
  